<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: head"></div>
<body>
<header>
<div th:replace="fragments/header :: nav"></div>
</header>
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form th:object="${userDto}" th:method="post" th:action="@{/charity/register}" id="registerForm">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" th:field="*{email}" />
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" th:field="*{password}" id="password1" />
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" id="password2"/>
          <p id="password_check"></p>
        </div>

        <div class="form-group form-group--buttons">
          <a th:href="@{/charity/login}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
<div th:replace="fragments/footer :: foot"></div>
  </body>
</html>
